.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  
  display: flex;
  flex-direction: column;

  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 15%);
  color: white;
  text-transform: uppercase;
  width: 100%;

  div {
    display: flex;
    gap: 1rem;
  }
}

.button {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  transition: 0.2s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: rgba(255, 255, 255, 15%);
  }
}



.board {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: repeat(3, 25rem);

  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(3, 15rem);
    grid-template-rows: repeat(3, 15rem);
  }
}

.square {
  background-color: ghostwhite;
  border: 1px solid rgba(0, 0, 0, 0.250);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10rem;

  color: var(--primary);
}

.line {
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150rem;
  height: 3px;
}

.turn {
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.square:hover .turn {
  opacity: 50%;
}
